{
  "extends": ["oclif", "plugin:prettier/recommended"],
  "rules": {
    "no-await-in-loop": "off",
    "new-cap": "off",
    "quote-props": "off",
    "no-negated-condition": "off",
    "no-warning-comments": "off",
    "spaced-comment": "off",
    "max-nested-callbacks": "off",
    "no-else-return": "off",
    "no-console": "off",
    "no-prototype-builtins": "off",
    "node/no-extraneous-require": ["error", {
      "allowModules": ["@oclif/errors", "expect"]
     }]
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.spec.js"],
      "rules": {
        "no-unused-expressions": "off",
        "camelcase": "off"
      }
    }
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  }
}
