*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
node_modules
experiments
.test_config
.env
.idea
/.vscode/
*~
*#
.log
coverage
test-results.xml
.history
.fauna

# default fauna config file names
fauna.config.yaml,
fauna.config.yml,
fauna.config.json,
.fauna.config.yaml,
.fauna.config.yml,
.fauna.config.json,
