version: "3.3"

services:
  faunadb:
    image: fauna/faunadb
    container_name: faunadb
    healthcheck:
      test: ["CMD", "curl" ,"http://faunadb:8443/ping"]
      interval: 1s
      timeout: 3s
      retries: 30

  tests:
    environment:
      - FAUNA_SECRET
      - FAUNA_DOMAIN
      - FAUNA_SCHEME
      - FAUNA_PORT
    image: node:16.14.2-alpine3.14
    container_name: mytests
    depends_on:
      - faunadb
    volumes:
      - "../../:/tmp/app"
    working_dir: "/tmp/app"
    command: [sh, -c, "npm install && npm test"]
